<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /e-halal/administrator/
    
    # If the requested file or directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all requests to index.php with page parameter
    RewriteRule ^([^/]*)$ index.php?page=$1 [L,QSA]
</IfModule>